doctype html
html
    include ./_includes/head.jade
    body
        include ./_includes/nav.jade
        include ./_includes/hero.jade
        include ./_includes/features.jade
        .bottom.hidden
            include ./_includes/cta.jade
            include ./_includes/hr.jade
            include ./_includes/footer.jade
        script(src="assets/js/functions.js")
