footer#footer
    .wrapper
        .logo
            .logo-pic
                h1.logo-p P
            .info
                h2.brand-name Platinium
                p.legal Copyright 2016
        .author
            p.roxie Made with <3 by roxie
