section#hero
    .wrapper
        h2 Network Management Software
        h3 Connecting devices has never been so easy
        .button-wrapper
            a(href="#").button.button-secondary Learn More
            a(href="#").button.button-primary Purchase
