section#hr
    .wrapper
        .content
            h3.left Sponsored by
            h2.logo
                include ./../assets/img/svg/hr.svg    
            h3.right Forums
        
        a(href="https://hackrally.net").button.button-primary Check them Out
