header#nav
    .overlay
    .logo
        .logo-pic
            h1.logo-p P
        h2.brand-name Platinium
    
    #mobile-nav
        span
        span
        span
        span
        span
        span
    
    nav
        a(href="#") About
        a(href="#") Documentation
        a(href="#") Developers
        a(href="#").button.button-secondary Purchase
